modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Demo Server"

[[workflows.workflow]]
name = "Build and Run"
author = 43124978
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Demo Server"
author = 43124978
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
